@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-Regular.woff2') format('woff2'),
        url('TTHoves-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

