.case {
  display: flex;
  padding-top: 12rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 10rem;
  align-self: stretch;
  background: #000;
  @include media("<phone") {
    gap: 8rem;
  }
}

.case h2 {
  color: #fff;
  font-family: "Haas Grot Disp Trial";
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 4.8rem */
  letter-spacing: -0.096rem;
  margin: auto;
  @include media("<phone") {
    font-size: 3.2rem;
    letter-spacing: -0.064rem;
  }
}

.case_content {
  display: flex;
  flex-direction: column;
}

.case_one {
  display: flex;
  width: 151.2rem;
  padding: 10rem;
  align-items: flex-start;
  gap: 15rem;
  border-bottom: 1px solid #171717;
  position: relative;
  &.active > div > img {
    opacity: 1;
  }
  &.active .shadows {
    background: linear-gradient(
      89.66deg,
      #fb9d17 0.26%,
      #f1373e 51.02%,
      #52a1c7 101.53%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  @include media("<phone") {
    padding: 6rem 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 6rem;
    align-self: stretch;
  }
}

.case_one > div {
  display: flex;
  flex-direction: column;
}

.case_one > div > h5 {
  color: #fff;
  font-family: "Haas Grot Disp Trial";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 1.6rem */
}

.case_one div > p {
  color: rgba(255, 255, 255, 0.65);
  font-family: "Haas Grot Disp Trial";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 2.24rem */
  white-space: pre;
}

.case_one > h3 {
  color: #fff;
  font-family: "Bebas Neue";
  font-size: 12.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 11.52rem */
  letter-spacing: -0.256rem;
  text-transform: uppercase;
  width: 65rem;
  flex-shrink: 0;
  margin-right: -10rem;
  @include media("<phone") {
    font-size: 6.4rem;
    letter-spacing: -0.128rem;
    width: 35rem;
  }
}

.case_one > div > img {
  width: 28rem;
  height: 20rem;
  opacity: 0;
  transition: 0.5 ease;
  @include media("<phone") {
    display: none;
  }
}

.case_one:nth-of-type(1) > div > img {
  transform: rotate(-8.804deg);
  position: absolute;
  top: 2rem;
  @include media("<phone") {
    display: none;
  }
}

.case_one > div > h4 {
  color: #fff;
  font-family: "Haas Grot Disp Trial";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 1.2rem */
  letter-spacing: 0.384rem;
  position: absolute;
  bottom: 10rem;
  @include media("<phone") {
    position: unset;
  }
}

.case_one > span {
  background: linear-gradient(
    89.66deg,
    #fb9d17 0.26%,
    #f1373e 51.02%,
    #52a1c7 101.53%
  );
  -webkit-background-clip: text;
}

.shadows {
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  transition: 0.5 ease;
}
