.contact {
  display: flex;
  padding: 14rem 10rem 10rem 10rem;
  gap: 13.5rem;
  background: #171717;
  @include media("<phone") {
    flex-direction: column;
    padding: 8rem 2rem 10rem 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 6rem;
  }
}

.contact_left {
  color: #fff;
  font-family: "Haas Grot Disp Trial";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 1.2rem */
  letter-spacing: 0.384rem;
  text-transform: uppercase;
  width: 20.5rem;
}

.contact_span {
  opacity: 0.32;
}

.contact_right {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.contact_right h3 {
  color: #fff;
  font-family: "Haas Grot Disp Trial";
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 4.8rem */
  letter-spacing: -0.096rem;
  @include media("<phone") {
    width: 35rem;
    letter-spacing: -0.064rem;
    font-size: 3.2rem;
  }
}

.form {
  display: flex;
  width: 72.4rem;
  padding: 4.8rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 4.8rem;
  background: #1e1e1e;
  @include media("<phone") {
    width: 35rem;
    padding: 3.2rem;
    gap: 4.8rem;
  }
}

.form > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
  align-self: stretch;
}

#name {
  display: flex;
  padding: 2rem 2.4rem;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
  border: 2px solid #454545;
  background: #232222;
  color: #fff;
  font-family: "Haas Grot Disp Trial";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 2.24rem */
  opacity: 0.65;
}

.c_button {
  @include media("<phone") {
    width: 28.6rem;
    color: #000;
    font-family: "Haas Grot Disp Trial";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 1.5rem */
    display: flex;
  }
}
