.services {
  display: flex;
  padding: 12rem 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 10rem;
  align-self: stretch;
  background-color: #000000;
  @include media("<phone") {
    display: flex;
    padding: 12rem 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 10rem;

    width: 39rem;
  }
}

.services h1 {
  color: #fff;
  font-family: "Haas Grot Disp Trial";
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 4.8rem */
  letter-spacing: -0.096rem;
  text-align: center;
  margin: auto;
  @include media("<phone") {
    color: #fff;
    font-family: "Haas Grot Disp Trial";
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 3.2rem */
    letter-spacing: -0.064rem;
    margin-left: 2rem;
  }
}

.services_services {
  display: flex;
  padding: 0 20rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  @include media("<phone") {
    display: flex;
    padding: 0 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2.4rem;
    max-width: 100vw;
  }
}

.first_services {
  display: flex;
  @include media("<phone") {
    display: unset;
    max-width: 100%;
  }
}

.first_services_left {
  display: flex;
  padding: 16.5rem 8rem 16.5rem 6rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.4rem;
  align-self: stretch;
  background-color: #141414;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  width: 55.6rem;
  @include media("<phone") {
    height: auto;
    justify-content: center;
    display: flex;
    padding: 3.2rem 3.2rem 6.4rem 3.2rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    max-width: 100%;
  }
}

.second_services_left > img {
  width: 39.293rem;
  height: 52.9882rem;
  @include media("<phone") {
  }
}

.service_header {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  @include media("<phone") {
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }
}

.first_services_left div p {
  color: #fff;
  font-family: "Haas Grot Disp Trial";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 1.2rem */
  letter-spacing: 0.528rem;
  opacity: 0.32;
}

.first_services_left div h2 {
  color: #fff;
  font-family: "Haas Grot Disp Trial";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.68rem */
  letter-spacing: 0.024rem;
  @include media("<phone") {
    color: #fff;
    font-family: "Haas Grot Disp Trial";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 1.68rem */
    letter-spacing: 0.024rem;
  }
}

.first_services_left h4 {
  color: #fff;
  font-family: "Haas Grot Disp Trial";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 3.36rem */
  letter-spacing: -0.024rem;
  width: 37.6rem;
  @include media("<phone") {
    width: 28.6rem;
  }
}

.first_services_left h3 {
  color: #fff;
  font-family: "Haas Grot Disp Trial";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 3.36rem */
  opacity: 0.65;
  width: 37.6rem;
  margin-bottom: 2.4rem;
  @include media("<phone") {
    width: 28.6rem;
  }
}

.first_services_right {
  background: #ecb141;
  width: 55.6rem;
  display: flex;
  // padding: 9.7059rem 0;
  // justify-content: flex-end;
  align-items: flex-start;
  gap: 3.8469rem;
  // flex: 1 0 0;
  align-self: stretch;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
  padding: 9.7059rem 8.1535rem;
  align-items: center;

  @include media("<phone") {
    height: auto;
    justify-content: center;
    padding: 8.5059rem 0;
    gap: 3.8469rem;
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    max-width: 100%;
  }
}

@keyframes scalet {
  0% {
    transform: translateX(20%);
  }
  35% {
    transform: translateX(20%);
  }
  65% {
    transform: translateX(-90%);
  }
  100% {
    transform: translateX(-90%);
  }
}

.first_services_right > img {
  width: 39.293rem;
  height: 52.9882rem;
  transition: 0.2s ease-in-out;
  &:hover {
    scale: 1.1;
  }
  @include media("<phone") {
    width: calc(39.293rem * 0.65);
    height: calc(52.9882rem * 0.65);
    scale: 1.1;
  }
  // animation: scalet 3s ease-in-out alternate infinite;
  // transform: translateX(-90%);
}

.first_button {
  @include media("<phone") {
    width: 35rem !important;
  }
}

.second_services {
  display: flex;
  @include media("<phone") {
    flex-direction: column;
    max-width: 100%;
  }
}

.second_services_left {
  display: flex;
  padding: 9.7059rem 8.1535rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // flex: 1 0 0;
  align-self: stretch;
  background: #c34f5b;
  width: 55.6rem;
  height: auto;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  align-items: center;
  @include media("<phone") {
    flex-direction: column;
    flex: unset;
    display: flex;
    padding: 8.5059rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    max-width: 100%;
    order: 1;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}

.second_services_left > img {
  width: 39.293rem;
  height: 52.9882rem;
  transition: 0.2s ease-in-out;
  &:hover {
    scale: 1.1;
  }
  @include media("<phone") {
    width: calc(39.293rem * 0.65);
    height: calc(52.9882rem * 0.65);
    scale: 1.1;
  }
}

.second_services_right {
  display: flex;
  padding: 16.5rem 8rem 16.5rem 6rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.4rem;
  // flex: 1 0 0;
  align-self: stretch;
  background: #141414;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 55.6rem;

  @include media("<phone") {
    height: auto;
    justify-content: center;
    display: flex;
    padding: 3.2rem 3.2rem 6.4rem 3.2rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
    max-width: 100%;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
}

.second_services_right > div {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  @include media("<phone") {
    flex-direction: column;
    align-items: flex-start;
    gap: 2.4rem;
  }
}

.second_services_right div p {
  color: #5f5f5f;
  font-family: "Haas Grot Disp Trial";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 1.2rem */
  letter-spacing: 0.384rem;
}

.second_services_right div h2 {
  color: #fff;
  font-family: "Haas Grot Disp Trial";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.68rem */
  letter-spacing: 0.024rem;
}

.second_services_right h4 {
  color: #777;
  font-family: "Haas Grot Disp Trial";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.second_services_right span {
  color: #fff;
}

.third_services {
  display: flex;
  max-width: 100%;
  @include media("<phone") {
    flex-direction: column;
    max-width: 100%;
  }
}

.third_services_right {
  background: #654b9b;
  width: 55.6rem;
  display: flex;
  padding: 9.7059rem 8.1535rem;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 3.8469rem;
  // flex: 1 0 0;
  align-self: stretch;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
  align-items: center;
  @include media("<phone") {
    display: flex;
    height: auto;
    flex-shrink: 0;
    padding: 8.5059rem 0;
    justify-content: center;
    align-items: flex-start;
    gap: 3.8469rem;
    align-self: stretch;
    max-width: 100%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
  }
}

.third_services_right > img {
  width: 39.293rem;
  height: 52.9882rem;
  transition: 0.2s ease-in-out;
  &:hover {
    scale: 1.1;
  }
  @include media("<phone") {
    width: calc(39.293rem * 0.65);
    height: calc(52.9882rem * 0.65);
    scale: 1.1;
  }
}

.third_services_left {
  display: flex;
  padding: 16.5rem 8rem 16.5rem 6rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.4rem;
  align-self: stretch;
  background-color: #141414;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  width: 55.6rem;
  @include media("<phone") {
    display: flex;
    padding: 3.2rem 3.2rem 6.4rem 3.2rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2.4rem;
    align-self: stretch;
    max-width: 100%;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
}

.third_services_left > div {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  @include media("<phone") {
  }
}

.third_services_left > div > p {
  color: #fff;
  font-family: "Haas Grot Disp Trial";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 1.2rem */
  letter-spacing: 0.528rem;
  opacity: 0.32;
}

.third_services_left > div > h2 {
  color: #fff;
  font-family: "Haas Grot Disp Trial";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.68rem */
  letter-spacing: 0.024rem;
  text-transform: uppercase;
}

.third_services_left > h4 {
  color: #fff;
  font-family: "Haas Grot Disp Trial";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 3.36rem */
  opacity: 0.65;
  width: 37.6rem;
  @include media("<phone") {
    color: #fff;
    font-family: "Haas Grot Disp Trial";
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 3.36rem */
    width: 28.6rem;
  }
}

.third_services_left > h3 {
  color: #fff;
  font-family: "Haas Grot Disp Trial";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 3.36rem */
  opacity: 0.65;
  width: 37.6rem;
  margin-bottom: 2.4rem;
  @include media("<phone") {
    color: #fff;
    font-family: "Haas Grot Disp Trial";
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 3.36rem */
    width: 28.6rem;
  }
}

.forth_services {
  display: flex;
  @include media("<phone") {
    flex-direction: column-reverse;
    max-width: 100%;
  }
}

.forth_services_left {
  background: #5db6be;
  width: 55.6rem;
  display: flex;
  padding: 9.7059rem 8.1535rem;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 3.8469rem;
  // flex: 1 0 0;
  align-self: stretch;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
  align-items: center;
  @include media("<phone") {
    display: flex;
    max-width: 100%;
    height: auto;
    padding: 8.5059rem 0;
    justify-content: center;
    align-items: flex-start;
    gap: 3.8469rem;
    align-self: stretch;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}

.forth_services_left > img {
  width: 39.293rem;
  height: 52.9882rem;
  transition: 0.2s ease-in-out;
  &:hover {
    scale: 1.1;
  }
  @include media("<phone") {
    width: calc(39.293rem * 0.65);
    height: calc(52.9882rem * 0.65);
    scale: 1.1;
  }
}

.forth_services_right {
  display: flex;
  padding: 16.5rem 8rem 16.5rem 6rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.4rem;
  // flex: 1 0 0;
  align-self: stretch;
  background: #141414;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 55.6rem;
  @include media("<phone") {
    height: auto;
    justify-content: center;
    padding: 8rem 0;
    max-width: 100%;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 3.2rem 3.2rem 6.4rem;
  }
}

.forth_services_right > div {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.forth_services_right div p {
  color: #5f5f5f;
  font-family: "Haas Grot Disp Trial";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 1.2rem */
  letter-spacing: 0.384rem;
}

.forth_services_right div h2 {
  color: #fff;
  font-family: "Haas Grot Disp Trial";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.68rem */
  letter-spacing: 0.024rem;
}

.forth_services_right h4 {
  color: #fff;
  font-family: "Haas Grot Disp Trial";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 3.36rem */
  opacity: 0.65;
  margin-bottom: 14.8rem;
}

.services_button {
  @include media("<phone") {
    width: 21rem !important;
  }
}
