.services {
  display: flex;
  padding: 12rem 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 10rem;
  align-self: stretch;
  background-color: #000000;
}

.services h1 {
  color: #fff;
  font-family: "Haas Grot Disp Trial";
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 4.8rem */
  letter-spacing: -0.096rem;
}
+ .services_services {
  display: flex;
  padding: 0 20rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  align-self: stretch;
}

.services_services {
  display: flex;
  padding: 0 20rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  align-self: stretch;
}

.services_services div:nth-of-type(1) {
  display: flex;
}
