@import "./reset.scss";

$breakpoints: (
  "phone": 760px,
  "tablet": 1024px,
  "desktop": 1920px,
) !default;

@import "../public/fonts/transfonter.org-20260129-174302/stylesheet.css";
@import "../node_modules/include-media/dist/include-media";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html {
  font-size: calc(100vw / 1512 * 10);
  @include media("<phone") {
    font-size: calc(100vw / 390 * 10);
  }
}

body {
  min-height: 100vh;
  min-height: 100dvh;
}

[data-desktop] {
  @include media("<phone") {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
  }
}

[data-mobile] {
  @include media(">=phone") {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
  }
}

.page,
.app {
  position: relative;
  width: 100vw;
  overflow: clip;

  &#home {
  }
}

@import "./components/header.scss";
@import "./components/hero.scss";
@import "./components/button.scss";
@import "./components/about.scss";
@import "./components/mission.scss";
@import "./components/services.scss";
@import "./components/work.scss";
@import "./components/team.scss";
@import "./components/contact.scss";
@import "./components/footer.scss";
